<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img 
    src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fimg.theqoo.net%2Fimg%2FIplri.jpg&type=sc960_832"
    width = "200px">
    <img 
    src="https://search.pstati.net/sunny/?src=https%3A%2F%2Fimg.theqoo.net%2Fimg%2FIplri.jpg&type=sc960_832"
    width = "200px"
    alt="이미지 파일이 존재하지 않습니다. ">

</body>
</html>