<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>index page</h3>
    <!-- 
        link : 페이지를 이동한다. (url)
        <a>태그를 사용해서 페이지 이동.
     -->
     <form action="/signin" method="POST">
        <input type="text" name="_id" placeholder="ID">
        <input type="password" name="_pass" placeholder="Password">
        <input type="submit" value="로그인">
     </form>
    <a href="/signup">회원가입</a>
    <!-- 구글이라는 content를 클릭하면 
        http://www.google.com으로 이동 -->
</body>
</html>