<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/game" method="POST">
        <input type="radio" name="_use" value="가위">가위
        <input type="radio" name="_use" vlaue="바위">바위
        <input type="radio" name="_use" value="보">보
        <input type="submit" value="게임 시작">
    </form>
</body>
</html>