<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Signup page</h3>
    <!-- 
        회원 정보 받아오기
        form 태그를 사용하는 이유
            사용자가 입력하는 정보를 서버에 보내주기 위해서 
        <form method=["GET","POST"] action="url">
            <input>

        </form>
     -->
     <form method="GET" action="/signup2">
        <input type="text" name="_id" placeholder="ID">
        <input type="password" name="_pass" placeholder="Password">
        <input type="text" name="_name" placeholder="Name">
        <input type="submit" value="회원가입">
     </form>
</body>
</html>