<!-- nav 좌측의 메뉴 부분 -->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/graph2">
            <span data-feather="home" class="align-text-bottom"></span>
            코로나
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graph3">
            <span data-feather="file" class="align-text-bottom"></span>
            부서정보
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graph4">
            <span data-feather="shopping-cart" class="align-text-bottom"></span>
            대륙별 판매 기록
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graph5">
            <span data-feather="users" class="align-text-bottom"></span>
            거래 내역
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">
            <span data-feather="users" class="align-text-bottom"></span>
            로그아웃
          </a>
        </li>
      </ul>

    </div>
  </nav>